body {
  background: #dfdfdf url('/images/background.jpg') center 0px no-repeat;
  background-size:  cover;
}

main {
  margin-top: 16%;
}
.play-button, .stop-button, 
.plus-button, .minus-button,
.send-button { 
  display: inline-block; 
  width:40px; 
  height: 40px; 
  line-height: 2.5em;
  border-radius:50%;
  cursor:pointer;
  text-align:center;
  color:#c9ab2a;
  margin-left: 30px;
}
.transport div:first-child {
  margin-left: 0px;
}

.send-button:hover,
.play-button:hover, 
.stop-button:hover,
.plus-button:hover,
.minus-button:hover{ 
  color:#eace5c;
}

.send-button:active,
.play-button:active, 
.stop-button:active,
.plus-button:active,
.minus-button:active{ 
  color: #84701b;
}

.play-button {
  margin-left: 0;
}

.stop-button{ 
  display: inline-block; 
  width:40px; 
  height: 40px; 
  line-height: 2.5em;
  cursor:pointer;
  text-align:center;
  color:#c9ab2a;
}

/*.send-button {
  display: block;
  margin: auto;
  font-family: 'Sarala', sans-serif;
  margin-bottom: 16px;
  padding: 1px 6px;
}*/

.you-color {
  color: #b79505;
}

.instrument-select {
  width: 130px;
  height: 3em;
  margin-bottom: 20px;
}

.transport {
  text-align: center;
  margin-bottom: 16px;
}

.instrument-container {
  text-align: center;
  min-width: 900px;
}

.status-msg {
  color:#5a5a5a;
  font-size: 1.24em;
}

.users {
  position: absolute;
  left: 13px;
  bottom: 0px;
}

.roommates-list {
  list-style:none;
}
.roommates-list li {
  font-size: .8em;
  display: block;
}

.mute-person {
  display: inline-block;
  margin-left: 15px;
}